<!-- Your existing navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <img src="assets/logo.png" alt="DailyLit Logo" style="height: 40px;">
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white"  routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" *ngIf="loggedIn" href="#">My Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/genre/genre">Genres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white"  *ngIf="loggedIn" routerLink="/reader">eReader</a>
      </li>
    </ul>
      <!-- Search form with results -->
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search for books"
          aria-label="Search"
          (keyup)="onKey($event)"
          [(ngModel)]="query"
          name="searchQuery"
        />
        <!-- Search Results -->
        <div *ngIf="books.length > 0" class="search-results">
          <div *ngFor="let book of books" class="book-item">
            <img [src]="book.cover_url" [alt]="book.title" class="book-cover">
            <div class="book-info">
              <h5>{{ book.title }}</h5>
              <p>{{ book.author_name }}</p>
            </div>
          </div>
        </div>
      </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item " *ngIf="!loggedIn">
        <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/register">Register</button>
      </li>
      <li class="nav-item" *ngIf="!loggedIn">
        <button class="btn btn-outline-danger my-2 my-sm-0" routerLink="/login">Login</button>
      </li>
      <li class="nav-item" *ngIf="loggedIn">
        <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()">Logout</button>
      </li>
    </ul>
  
  </div>
</nav>

<router-outlet></router-outlet>