<div class="login-container">
  <div class="auth-box">
    <div class="auth-header">
      <h1>Вхід до аккаунту</h1>
      <p>Увійдіть для доступу до своїх книг та полиць</p>
    </div>
    
    <form *ngIf="!loggedIn" (ngSubmit)="onSubmit()" #loginForm="ngForm" class="auth-form">
      <div class="form-group">
        <label for="name">Ім'я користувача</label>
        <div class="input-wrapper">
          <i class="fa fa-user"></i>
          <input 
            type="text" 
            id="name" 
            required 
            [(ngModel)]="name" 
            name="name" 
            #nameInput="ngModel"
            placeholder="Введіть своє ім'я"
            autocomplete="username"
          >
        </div>
        <div *ngIf="nameInput.invalid && nameInput.touched" class="form-error">
          <i class="fa fa-exclamation-circle"></i> Ім'я користувача обов'язкове
        </div>
      </div>
      
      <div class="form-group">
        <label for="password">Пароль</label>
        <div class="input-wrapper">
          <i class="fa fa-lock"></i>
          <input 
            type="password" 
            id="password" 
            required 
            [(ngModel)]="password" 
            name="password" 
            #passwordInput="ngModel"
            placeholder="Введіть свій пароль"
            autocomplete="current-password"
          >
        </div>
        <div *ngIf="passwordInput.invalid && passwordInput.touched" class="form-error">
          <i class="fa fa-exclamation-circle"></i> Пароль обов'язковий
        </div>
      </div>
      
      <div class="form-action">
        <button type="submit" class="btn primary-btn" [disabled]="loginForm.invalid">
          <i class="fa fa-sign-in"></i> Увійти
        </button>
      </div>
    </form>
    
    <div *ngIf="loggedIn" class="logged-in-state">
      <i class="fa fa-check-circle"></i>
      <h3>Ви успішно увійшли!</h3>
      <button class="btn danger-btn" (click)="logout()">
        <i class="fa fa-sign-out"></i> Вийти
      </button>
    </div>
    
    <div class="auth-footer">
      <p>Ще не маєте аккаунту? <a routerLink="/register">Зареєструватися</a></p>
    </div>
  </div>
</div>
